In [1]:
# Assignment 1 
# String

In [1]:
#Q.1 Write a python program to check whether the string is Symmetrical or Palindrome
P=input("Enter the value:")
reverse= P[:-1]
if(P==reverse):
    print("It is palindrome")
else:
    print("It is not  palindrome")

Enter the value: 121

It is not  palindrome

In [2]:
# Q2) Write a Python program to reverse the words in a given string
A=input("Enter the value:")
print (A[::-1])

Enter the value: kliu

uilk

In [51]:
# Q3) Write a Python program to remove the iâ€™th character from the string in different ways 
def Removechar (str):
    new_str = " "
    for i in range (len(str)):
        if i !=I:
            new_str = new_str + str[i]
    return new_str
str=input("enter the string")
I=int(input("enter the ith character to remove from string:-"))
updated_str=Removechar(str)
print("string after removing Ith character is :-",updated_str)

enter the string hello
enter the ith character to remove from string:- 4

string after removing Ith character is :-  hell

In [52]:
# Function

In [71]:
# Q1) Write a python function to find the Max of three numbers 
n1=int(input("enter the 1st number"))
n2=int(input("enter the 2nd number"))
n3=int(input("enter the 3rd number"))
def funct1():
    if n1>n2 and n1>n3:
        print(n1," is greater number")
    elif n2>n3:
         print(n2 ,"is greater number")
    else:
        print(n3, "is greater")
funct1()

enter the 1st number 75
enter the 2nd number 45
enter the 3rd number 12

75  is greater number

In [66]:
# Write a python function to Sum all the numbers in a list
def sum_of_list(numbers):
    return sum(numbers)

numbers = [1, 2, 3, 4, 5]
result = sum_of_list(numbers)
print("The sum of the numbers in the list is:", result)

The sum of the numbers in the list is: 15

In [77]:
# Q3) Write a Python function to reverse the string

def reverse_string(s):
    return s[::-1]
string = input("Enter the string:")
result = reverse_string(string)
print(result)

Enter the string: Omkar shelke

eklehs rakmO

In [78]:
# String

In [82]:
#Q1) Write a python program to print even length words in a string
def print_even_length_words(sentence):
    words = sentence.split()  # Split the sentence into words
    for word in words:
        if len(word) % 2 == 0:
            print(word)
sentence = "This is coach x assignment "
print("Even length words in the sentence:")
print_even_length_words(sentence)

Even length words in the sentence:
This
is
assignment

In [84]:
#Q2) Write a python program to accept the strings which contains all vowels 
def contains_all_vowels(s):
    vowels = set('aeiou')
    return vowels.issubset(set(s.lower()))

def filter_strings_with_all_vowels(strings):
    for s in strings:
        if contains_all_vowels(s):
            print(s)
strings = [
    "school",
    "education",
    "sequoia",
    "rahul",
    "lords"
]

print("Strings containing all vowels:")
filter_strings_with_all_vowels(strings)

Strings containing all vowels:
education
sequoia

In [85]:
#Q3) Write a python program to Count the number of matching characters in a pair of String
def count_matching_characters(str1, str2):
    set1 = set(str1)
    set2 = set(str2)
    matching_characters = set1.intersection(set2)
    return len(matching_characters)
string1 = "apple"
string2 = "grape"

result = count_matching_characters(string1, string2)
print(f"Number of matching characters between '{string1}' and '{string2}':", result)

Number of matching characters between 'apple' and 'grape': 3

In [87]:
# Function
#Q1) Write a Python function that takes a list and returns  a new list with unique elements of the first list.
def unique_elements(lst):
    return list(set(lst))
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 7, 7]
unique_numbers = unique_elements(numbers)
print("Unique elements in the list:", unique_numbers)

Unique elements in the list: [1, 2, 3, 4, 5, 6, 7]

In [98]:
# Q2)  Write a python function that takes a number as a parameter and check the number is prime or not.
def prime_number(n):
    #Checks if a number is prime.
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True
number = int(input("Enter a number: "))

if prime_number(number):
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

Enter a number:  51

51 is not a prime number.

In [103]:
#Q3) Write a python function to check whether a number is perfect or not.
def is_perfect(n):
    """Checks if a number is perfect."""
    if n <= 0:
        return False
    divisors_sum = sum(i for i in range(1, n) if n % i == 0)
    return divisors_sum == n

number = int(input("enter the number:"))
if is_perfect(number):
    print(f"{number} is a perfect number.")
else:
    print(f"{number} is not a perfect number.")

enter the number: 28

28 is a perfect number.

In [108]:
# Assignment 2
def swap_variables(x, y):
    """Swaps the values of two variables."""
    x, y = y, x
    return x, y

# Example usage:
x = input("Enter the value of x: ")
y = input("Enter the value of y: ")

x, y = swap_variables(x, y)
print(f"After swapping: x = {x}, y = {y}")

Enter the value of x:  12
Enter the value of y:  14

After swapping: x = 14, y = 12

In [129]:
# 1. Write a Python Program to Check if a Number is Positive, Negative or Zero  and odd or even
num=int(input("enter the value:"))
if num >0:
    print("it is positive number")
    if num%2==0:
        print("entered no is even")      
else:
    print("entered number is odd")
elif num<0:
    print("it is negative number")
    if num%2==0:
        print("entered no is even")
    else:
       print("it is a odd number")
else:
   print("it is zero number")

SyntaxError: invalid syntax (850326578.py, line 9)

In [132]:
def is_armstrong(n):
    digits = [int(d) for d in str(n)]
    num_digits = len(digits)
    armstrong_sum = sum(d**num_digits for d in digits)
    return armstrong_sum == n

# Example usage:
number = int(input("Enter a number: "))

if is_armstrong(number):
    print(f"{number} is an Armstrong number.")
else:
    print(f"{number} is not an Armstrong number.")

Enter a number:  4500

TypeError: 'str' object is not callable

In [153]:
# factorial
def factorial(n):
  
    if n < 0:
        return "Factorial is not defined for negative numbers"
    elif n == 0 or n == 1:
        return 1
    else:
        result = 1
        for i in range(2, n + 1):
            result *= i
        return result

# Example usage:
number = int(input("Enter a number: "))

fact = factorial(number)
print(f"The factorial of {number} is: {fact}")

Enter a number:  4

The factorial of 4 is: 24

In [155]:
# leap year
year=int(input("enter the year:"))
if year%4==0:
         print("it is leap year")
else: print("it is not leap year")

enter the year: 2024

it is leap year

In [157]:
def fibonacci_sequence(n):
    """Generates the Fibonacci sequence up to n terms."""
    sequence = []
    a, b = 0, 1
    while len(sequence) < n:
        sequence.append(a)
        a, b = b, a + b
    return sequence

# Example usage:
num_terms = int(input("Enter the number of terms for Fibonacci sequence: "))

if num_terms <= 0:
    print("Please enter a positive integer.")
else:
    fib_sequence = fibonacci_sequence(num_terms)
    print("Fibonacci sequence:")
    print(fib_sequence)

Enter the number of terms for Fibonacci sequence:  5

Fibonacci sequence:
[0, 1, 1, 2, 3]

In [159]:
def sum_of_natural_numbers(n):
    #Calculates the sum of natural numbers up to n.
    if n < 1:
        return "Input should be a positive integer."
    return n * (n + 1) // 2

# Example usage:
number = int(input("Enter a positive integer: "))

if number <= 0:
    print("Please enter a positive integer.")
else:
    total_sum = sum_of_natural_numbers(number)
    print(f"The sum of natural numbers up to {number} is: {total_sum}")

Enter a positive integer:  2

The sum of natural numbers up to 2 is: 3

In [163]:
# Assignment 3
# 1. Write a Python program to append items from a specified list. 
names =["rahul","suman","prasad","akash","rohan"]
names.append("virat")
print(names)

['rahul', 'suman', 'prasad', 'akash', 'rohan', 'virat']

In [183]:
#7. Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters. 
names="rahul"
#names.upper()
names.lower()

'rahul'

In [186]:
# 6. Write a Python function to check whether a number is in a given range
for i in range(1,10+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [188]:
#8. Write a python program to Remove all duplicates from a given string in Python 
def remove_duplicates(input_string):
    #Removes all duplicates from the string while preserving the order."""
    result = []
    seen = set()
    
    for char in input_string:
        if char not in seen:
            seen.add(char)
            result.append(char)
    
    return ''.join(result)

# Example usage:
input_string = input("Enter a string: ")
output_string = remove_duplicates(input_string)
print("String after removing duplicates:", output_string)

Enter a string:  this is python class

String after removing duplicates: this pyoncla

In [3]:
def sort_hyphenated_sequence(input_string):
    """Sorts a hyphen-separated sequence of words alphabetically."""
    words = input_string.split('-')
    words.sort()
    return '-'.join(words)
input_string = input("Enter a hyphen-separated sequence of words: ")
sorted_string = sort_hyphenated_sequence(input_string)
print("Sorted hyphen-separated sequence:", sorted_string)

Enter a hyphen-separated sequence of words:  opfdhej-djsxjws-ancnhushd-dnjshjs-bdjhsgsu-cshwhu

Sorted hyphen-separated sequence: ancnhushd-bdjhsgsu-cshwhu-djsxjws-dnjshjs-opfdhej

In [4]:
# Assignment 4
# set A list
#1) Write a Python program to sum all the items in a list. 
def sum_of_list(items):
    total = 0
    for item in items:
        total += item
    return total
my_list = [1, 2, 3, 4, 5]
print("The sum of the list is:", sum_of_list(my_list))

The sum of the list is: 15

In [7]:
# Write a Python program to multiplies all the items in a list. 
def multiply_list_items(lst):
    result = 1
    for item in lst:
        result *= item
    return result
numbers = [2, 3, 4, 5]
product = multiply_list_items(numbers)
print("The product of all items in the list is:", product)

The product of all items in the list is: 120

In [8]:
def sort_by_last_element(tuples_list):
    return sorted(tuples_list, key=lambda x: x[-1])
tuples = [(2, 5), (1, 2), (4, 4), (2, 3), (3, 1)]
sorted_tuples = sort_by_last_element(tuples)
print("Sorted list of tuples:", sorted_tuples)

Sorted list of tuples: [(3, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [10]:
# Tuple
#1) Write a Python program to create a tuple. 
name=("raj","harsh","piyush","Prasad")
print(name)
print(type(name))

('raj', 'harsh', 'piyush', 'Prasad')
<class 'tuple'>

In [12]:
# 2) Write a Python program to create a tuple with different data types. 
# Creating a tuple with different data types
mixed_tuple = ("Hello", 42, 3.14, True, [1, 2, 3], {"key": "value"}, (7, 8, 9))

# Display the tuple
print("The created tuple with different data types is:", mixed_tuple)
print(type(mixed_tuple))

The created tuple with different data types is: ('Hello', 42, 3.14, True, [1, 2, 3], {'key': 'value'}, (7, 8, 9))
<class 'tuple'>

In [20]:
#3) Write a Python program to check whether an element exists within a tuple. 
my_tuple = ("Hello", 42, 3.14, True, [1, 2, 3], {"key": "value"}, (7, 8, 9))
my_tuple[:4]

('Hello', 42, 3.14, True)

In [22]:
# set
# Write a Python program to create a set. 
marks={50,42,15,45,12,24}
print(marks)

{50, 24, 42, 12, 45, 15}

In [23]:
#2) Write a Python program to iterate over sets. 
# Creating a set
marks = {10, 20, 30, 40, 50}

# Iterating over the set
for i in marks :
    print(i)

50
20
40
10
30

In [24]:
#4) Write a Python program to create set difference. 
# Creating two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 60, 70}

# Creating the difference
difference = set1 - set2

# Displaying the difference
print("Set difference (set1 - set2) is:", difference)

Set difference (set1 - set2) is: {50, 10, 20}

In [25]:
#Dictionary:--
#1) Write a Python script to sort (ascending and descending) a dictionary by value. 
import operator
d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
print('Original dictionary : ',d)
sd = sorted(d.items(), key=operator.itemgetter(1))
print('Ascending order : ',sd)
sd = dict( sorted(d.items(), key=operator.itemgetter(1),reverse=True))
print('Descending order : ',sd)

Original dictionary :  {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
Ascending order :  [(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]
Descending order :  {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

In [30]:
#2) Write a Python script to add a key and value to a dictionary. 
student={"rahul":"science","piyush":"math"}
print(student)
student.keys()
#student.values()

{'rahul': 'science', 'piyush': 'math'}

dict_keys(['rahul', 'piyush'])

In [34]:
student.update({"mangesh":"History"})
print(student)

{'rahul': 'science', 'piyush': 'math', 'mangesh': 'History'}

In [35]:
# Write a Python program to iterate over dictionaries using for loops. 
student

{'rahul': 'science', 'piyush': 'math', 'mangesh': 'History'}

In [39]:
# 3  Write a Python program to iterate over dictionaries using for loops. 

student={"rahul":"science","piyush":"math"}
for i  in student.items():
    print(i)

('rahul', 'science')
('piyush', 'math')

In [41]:
#SET B
#List
#1. Write a Python program to remove duplicates from a list. 
duplicate = [2, 4, 10, 20, 5, 2, 20, 4]
def Remove(duplicate):
    final_list = []
    for num in duplicate:
        if num not in final_list:
            final_list.append(num)
    return final_list
print(Remove(duplicate))

[2, 4, 10, 20, 5]

In [55]:
#2. Write a Python program to check a list is empty or not. 
list=[ ]
if not list :
    print('it is empty')
else:
    print('it is not empty')

it is empty

In [58]:
#tuple
#1. Write a Python program to convert a list to a tuple.
#list into a tuple
list = [1, 2, 3, 4]
def convert(list):
    return tuple(list)
print(convert(list))

(1, 2, 3, 4)

In [3]:
#2. Write a Python program to remove an item from a tuple. 
age=(12,45,75,45,15,65)
age.remove[3]

AttributeError: 'tuple' object has no attribute 'remove'

In [80]:
#3. Write a Python program to slice a tuple. 
age=(12,45,75,45,15,65)
age[:1]

(12,)

In [81]:
# find the length of tuple
age=(12,45,75,45,15,65)
print(len(age))

6

In [7]:
#Sets
#1. Write a Python program to check if a set is a subset of another set. 
a={1,2,3}
b={1,2,3,4,5,6,7,8,9}
print("a Subset of b :",a.issubset(b))
print("b Subset of a :",b.issubset(a))

a Subset of b : True
b Subset of a : False

In [12]:
#2. Write a Python program to find maximum and the minimum value in a set. 
b={1,2,3,4,5,6,7,8,9}
print(max(b))
print(min(b))

9
1

In [27]:
#3. Write a Python program to find the length of a set. 
b={1,2,3,4,5,6,7,8,9,10,11,12}
print(type(b))
print(len(b))

<class 'set'>
12

In [29]:
#Dictionary
#1. Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form  (x, x*x). 
P=int(input("Enter the value : "))
d = dict()
 
for x in range(1,P+1):
    d[x]=x*x
print(d)

Enter the value :  10

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [39]:
#3. Write a Python script to merge two Python dictionaries. 
student={"rahul":"educt","amit":"coach","ram":"profesor"}
dep={"comp":"data sci","mech":"machinaries","civil":"constr"}
student.update(dep)
print("Merged dict:", student)
student.keys()
#student.values()

Merged dict: {'rahul': 'educt', 'amit': 'coach', 'ram': 'profesor', 'comp': 'data sci', 'mech': 'machinaries', 'civil': 'constr'}

dict_keys(['rahul', 'amit', 'ram', 'comp', 'mech', 'civil'])